@import "tailwindcss";

html{
  cursor: none;
}

body{
  background-color: #0a0f1e;
  font-family: 'Space Mono', monospace;
  color: white;
}

@font-face {
  font-family: 'Mussels';
  src: url('/TT_Mussels_Regular.d411d6e05a0422312d35.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'Mussels', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0f1e;
}

::-webkit-scrollbar-thumb {
  background: #da7756;
  border-radius: 999px;
  cursor: grab;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(var(--marquee-width)); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}